@media only screen and (max-width:1200px){

}

@media only screen and (max-width:992px){
    .content-bg {
        font-size: 12pt;
    }
    .table{
        font-size: 13.5pt;
        line-height: 150%;
    }
}

@media only screen and (max-width:768px){ 
    header{
        height: 120px;
    }
    .logo{
        width: 144px;
        height: 104px;
        top:16px;
    }
    h1{
        font: 45px Georgia;
        margin-top: 40px;
        margin-left: 140px;
    }
    .bg-1{
        height:50px; 
        top: 30px;
    }
    nav a{
        font-size:23pt;  
    }
    .h2{
        font-size: 18pt;
    }
    .h3{
        font-size: 18pt;
    }
    .phon2 {
        margin-left: 12%;
        margin-right: 12%;
        font-size: 15pt;
    }
    .table{
        font-size: 12pt;
        line-height: 150%;  
        max-width:90%; 
    }
    .forma{
        font-size: 15pt;
    }
    .p1{
        font-size: 13pt;
    }
}
@media only screen and (max-width:480px){

header{
    display: flex;
    align-items: center;
    width: 960px;
} 
nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
}
nav li{
        flex-grow:1;
}
nav a{
        display: block;
        padding: 10px;
        text-align: center;
        margin-bottom: 2px;
        text-decoration: none;
        font-size: 16pt;
}
nav a{
    display: flex;
    flex-direction: column;
    background-color:#2E8B57;
}
    
.bg-1{
        background-color:#ffff;
        height: 135px;
}  

.h2{
    font-size: 14pt;
    margin: 10px;
}
.h3{
    font-size: 14pt;
}
.phon2{
    background-color: azure;
    margin-left: 10px;
    margin-right: 10px;
}

.table{
    font-size: 10pt;
    line-height: 150%;  
    max-width:150%; 
}
.forma{
    font-size: 12pt;
}
.p1{
    font-size: 11pt;
}
.sec2, .sec3{
    padding-left: 15px;
    align-items: flex-start;
}
.section{
    display: flex;
    flex-flow: column wrap;
}
/* .podval, .p1{
    display: flex;

    width: 960px;  
} */
    /*обмен местами*/
   .container{
       display: flex;
        flex-flow: column;
   }
    .sec2{
        order: 2;  
    }
    .sec3{
        order:1;
    }
}
