@media only screen and (max-width:1200px){

}

@media only screen and (max-width:992px){
    .content-bg {
        font-size: 12pt;
    }
    .table{
        font-size: 10pt;
        line-height: 150%;  
        max-width:90%; 
    }
    .forma{
        font-size: 12pt;
    }
    .h2{
        font-size: 18pt;
    }
    #menu a {
        font-size: 17pt;
    }
}

@media only screen and (max-width:768px){
   /* #header{
       
   } */ 
   h1{
    margin-top: 25px;
    margin-left:80px;
    color:#2E8B57;
    font: 28px Georgia;
}
.logo {
    top: 8px;
    position: absolute;
    width: 65px;
    height: 55px;
    border: 0;
 }

.content-bg {
    font-size: 12pt;
}
.table{
    font-size: 10pt;
    line-height: 150%;  
    max-width:90%; 
}
.forma{
    font-size: 12pt;
}
.h2{
    font-size: 18pt;
}
#menu a {
    font-size: 17pt;
}
}
@media only screen and (max-width:480px){
    .content-bg {
        display: inline-flex; 
        flex-direction: column;
        flex-wrap: wrap;
        /* flex: 0 1 auto; */
        word-wrap: break-word;
        margin-left:10%;
        margin-right:10%;
        padding: 0 15px; 
        text-align: justify;
        font-size: 10pt;
    } 
      /* переместим 2 flex-элемент в конец */
      .flex-container_element-1 {
        order: 0;
      }
      .flex-container_element-2 {
        order: 2;
      }
      .flex-container_element-3 {
        order: 1;
      }
    
    .table{
        font-size: 5pt;
        line-height: 200%;  
        max-width:90%; 
    }
    .forma{
        font-size: 10pt;
    }
    .h2{
        font-size: 12pt;
    }
    #menu a {
        font-size: 14pt;
    }
    .bg-1 {
        display: inline-flex; 
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        flex-direction: column;
        width:100%;
        height: auto;
        background:#2E8B57;
        padding:auto;
    }

    .bg-2 {
        width:99%; 
        height:8px; 
        background:#98FB98; 
        margin:0 auto;
    }
    #menu { /*положение меню*/
        text-align: center; 
    }
    #menu li{ /*горизонталь*/
        display:inline-block;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15pt;
        padding:auto;
        
    }
    #menu a { /*размер квадратика*/
        display:block; 
        height:20px; 
        line-height: 1;
        top: 10px;
        padding:10px 5px 0 5px; 
        color:#98FB98; 
        text-decoration:none; 
        text-transform:uppercase;
    }
    #menu a:hover { /*квадратики выбора, сплошной*/
        background: #98FB98;
    } 
}